vrrp_instance VI_1 {
    state {{ 'MASTER' if (groups['servers'].index(inventory_hostname)) == 0 else 'BACKUP' }}
    interface enp0s3
    virtual_router_id 51
    priority {{ '255' if (groups['servers'].index(inventory_hostname)) == 0 else '254' }}
    
    authentication {
      auth_type PASS
      auth_pass {{ auth_passwd }}
    }

    virtual_ipaddress {
        {{ virtual_ip }}
    }
}
